body { 
    background-color: #efefef;
}
.card-contents {
    width: 100;
    padding: 80px;
    display: block;
    margin-bottom: 40px;
    background-color: #fff;
}
.main {
    text-align: center;
}
footer {
    text-align: center;
}